// Place all the styles related to the boards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.board{
	margin-right: 5px;
	margin-bottom: 5px;
	padding: 10px;
	a{
	color: #c6d1d9;font-weight: bold;
	
	}
	}

.canvas-col{border: 1px solid #4d94ff;
height:auto;
min-height: 700px;
overflow: scroll;
padding: 30px;}

.container-fluid{width: 97%;}