.subscription_type {height: 250px;margin-right: 5px;color: white;padding-top: 10px;width: 22%;}
.border_red{border: 2px solid red;}
.container-fluid{margin-left: 3%;}
.col-11{padding-left: 4px;padding-right: 30px;}